{% extends 'rotten_potatoes/base.html' %}
{% load staticfiles %}

{% block title_block %}About{% endblock %}

{% block body_block %}

<div class="container my-5">
	<h1 class="display-2 text-center mb-5">This is the about page!</h1>

	<div class="row d-flex justify-content-center">
		<p class="col-8 border border-dark border-3 rounded p-3">The objective of our app is to allow people to rate and get feedback on movies and for movie producers to promote the movies they have created.More specifically, a normal user can search for a movie, browse movies by category and even sort them by attributes such as rating and date published. They can share their opinions with other users by rating and commenting, thus forming a virtual community.Movie producers can act as normal users, although they can also create and modify their personal movies. This will allow them to see how the public reacts to their movies and use this information to boost their career as movie producers.</p>
	</div>

</div>

{% endblock %}
