{% extends 'rotten_potatoes/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Account
{% endblock %}

{% block body_block %}
	<h1>{{ user.username }}</h1>
	<p><img src="{{ MEDIA_URL }}profile_images/{{ profile.profile_pic.url }}" alt="Profile Picture"/></p>
	<a class="emt" href="{% url 'rotten_potatoes:edit_account' %}">Edit Details</a>
	
	{% if added_movies %}
	<h3>Your movies</h3>
	
	<ul>
		{% for m in added_movies %}
			<li><a class="mov" href="{% url 'rotten_potatoes:movie' m.slug %}">{{ m.name }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
{% endblock %}