{% extends 'rotten_potatoes/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Edit Movie
{% endblock %}

{% block body_block %}
<div class="container py-5">
	<h1 class="display-3 text-center mb-5">Edit Movie</h1>
	<div class="d-flex justify-content-center">
		<form
			id="form"
			method="post"
			action="{% url 'rotten_potatoes:edit_movie' movie %}"
			enctype="multipart/form-data"
			class="center-fields">
				{% csrf_token %}
				{{ form.as_p }}
				<button type="button" class="btn btn-danger" class="ms-auto me-1" data-bs-toggle="modal" data-bs-target="#exampleModal">Delete</button>
				<button class="btn btn-primary" type="submit">Save</button>
		</form>
	</div>
</div>

<form class="hide" id="delete" action="{% url 'rotten_potatoes:delete_movie' movie %}" method="GET">
</form>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Delete Movie</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<p>Are you sure you would like to delete your movie?</p>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				<button onclick="submitDeleteForm()" type="button" class="btn btn-danger">Delete</button>
			</div>
		</div>
	</div>
</div>

{% endblock %}
