{% extends 'rotten_potatoes/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Home
{% endblock %}

{% block body_block %}
	<h1>Welcome to Rotten Potatoes</h1>
		
	<div id="hrzContainer">
		<div id="left"><p>Top Movies</p>
			<ul>
				<li>Movie 1</li>
				<li>Movie 2</li>
				<li>Movie 3</li>
			</ul>
		</div>
			
		<div id="middle"><p>Recently Added</p>
			<ul>
				<li>Movie A</li>
				<li>Movie B</li>
				<li>Movie C</li>
			</ul>
		</div>
			
		<div id="right"><p>This week's Favourite</p>
			<p>Image Here</p>
		</div>
	</div>
	<div>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
{% endblock %}