{% extends 'rotten_potatoes/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Home
{% endblock %}

{% block body_block %}
	<div class="text-center my-5">
		<h1 class="display-1">Welcome to Rotten Potatoes</h1>
	</div>
	<p>
		{% if messages %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		{% endif %}
	</p>
	<div class="container my-5">
		<div class="row">
			<div class="col-md">
				<p class="text-center display-6">Top Movies</p>
				<div class="card">
				  <ul class="list-group list-group-flush">
					  {% if top_movies %}
						{% for m in top_movies %}
							<a class="list-group-item" href="{% url 'rotten_potatoes:movie' m.slug %}">{{ m.name }}</a>
						{% endfor %}
					  {% else %}
					  	Sorry, there are no movies in the database.
					  {% endif %}
				  </ul>
				</div>
			</div>
			<div class="col-md">
				<p class="text-center display-6">Recently Added</p>
				<div class="card">
				  <ul class="list-group list-group-flush">
					   {% if recently_added %}
						{% for m in recently_added %}
							<a class="list-group-item" href="{% url 'rotten_potatoes:movie' m.slug %}">{{ m.name }}</a>
						{% endfor %}
					   {% else %}
					  	There are no recently added movies.
					   {% endif %}
				  </ul>
				</div>
			</div>
			<div class="col-md">
				<p class="text-center display-6">This year's Favourite</p>
				<div class="card">
					{% if this_years_favorite %}
						<a href="{% url 'rotten_potatoes:movie' this_years_favorite.slug %}">
						<img src="{{ MEDIA_URL }}{{ this_years_favorite.cover }}" class="card-img-top" alt="...">
						</a>
					  <div class="card-body">
						<h5 class="card-title">{{ this_years_favorite.name }}</h5>
					  </div>
					{% else %}
					  	No favorite movie for this year.
					{% endif %}
				</div>

			</div>
		</div>
	</div>

	<!-- <div>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div> -->
{% endblock %}
