{% extends 'rotten_potatoes/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Home
{% endblock %}

{% block body_block %}
	<h1>Welcome to Rotten Potatoes</h1>
	<p>
		{% if messages %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		{% endif %}
	</p>
	<div id="hrzContainer">
		<div id="left"><p>Top Movies</p>
			<ul>
			{% for m in top_movies %}
				<li><a class="mov" href="{% url 'rotten_potatoes:movie' m.slug %}">{{ m.name }}</a></li>
			{% endfor %}
			</ul>
		</div>
			
		<div id="middle"><p>Recently Added</p>
			<ul>
			{% for m in recently_added %}
				<li><a class="mov" href="{% url 'rotten_potatoes:movie' m.slug %}">{{ m.name }}</a></li>
			{% endfor %}
			</ul>
		</div>
			
		<div id="right"><p>This years's Favourite</p>
			<li><a class="mov" href="{% url 'rotten_potatoes:movie' this_years_favorite.slug %}">{{ this_years_favorite.name }}</a></li>
		</div>
	</div>
	<div>
		<iframe width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
	</div>
	<div>
		{% if is_producer %}
				<a class="emt" href="{% url 'rotten_potatoes:add_movie' %}">Add</a>
		{% endif %}
	</div>
{% endblock %}