{% extends 'rotten_potatoes/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ movie.name }}
{% endblock %}

{% block body_block %}
	<div>
		{% if messages %}
			{% for message in messages %}
				{{ message }}
			{% endfor %}
		{% endif %}
		<h1>{{ movie.name }}</h1>
		<iframe width="560" height="315" src={{ urlLink }} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<a class="emt" href="{% url 'rotten_potatoes:add_comment' movie.slug %}">Comment</a>
		<a class="emt" href="{% url 'rotten_potatoes:rate_movie' movie.slug %}">Rate Movie</a>
		<a class="emt" href="{% url 'rotten_potatoes:edit_movie' movie.slug %}">Edit Movie</a>
	</div>
	

	<div>
		<p>Release Date = {{ movie.release_date }}</p>
		<p>Actors = {{ movie.actors }}</p>
		<p>Genre = {{ movie.genre }}</p>
		<p>Description = {{ movie.description }}</p>
		<p>Uploaded = {{ movie.upload_date }}</p>
    <p>Average Rating = {{ movie.avg_rating }} </p>
    <p>Number Of Ratings = {{ movie.num_of_ratings }} </p>
	</div>

	
	{% if comments %}
		<p>Comments</p>
		<ul>
		{% for c in comments %}
			<li>{{ c.user }} - {{ c.text }}</li>
		{% endfor %}
		</ul>
	{% endif %}
{% endblock %}