{% extends 'rotten_potatoes/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ movie.name }}
{% endblock %}

{% block body_block %}
	<div>
		<h1>{{ movie.name }}</h1>
		<iframe width="560" height="315" src={{ urlLink }} frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
		<a class="emt" href="{% url 'rotten_potatoes:add_comment' movie.slug %}">Comment</a>
	</div>
	
	<div>
		<p>Release Date = {{ movie.release_date }}</p>
		<p>Actors = {{ movie.actors }}</p>
		<p>genre = {{ movie.genre }}</p>
		<p>description = {{ movie.description }}</p>
		<p>Uploaded = {{ movie.upload_date }}</p>
	</div>
	
	<ul>
	{% if comments %}
		{% for c in comments %}
			<li>{{ c.user }}" - "{{ c.text }}</li>
		{% endfor %}
	{% endif %}
	</ul>
{% endblock %}