{% extends 'rotten_potatoes/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Rate a movie
{% endblock %}

{% block body_block %}
<div class="container my-5">
	<h1 class="display-4 text-center mb-5">Rate Movie: {{ movie.name }}</h1>
	<div class="d-flex justify-content-center">
		<form
			id="form"
			method="post"
			action="{% url 'rotten_potatoes:rate_movie' movie.slug %}"
			enctype="multipart/form-data"
			class="center-fields">
				{% csrf_token %}
				{{ form.as_p }}

				<button class="btn btn-primary" type="submit">Add Rating</button>
		</form>
	</div>
</div>

{% endblock %}
