{% extends 'rotten_potatoes/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Ratings
{% endblock %}

{% block body_block %}
	<div class="container my-5">
		<h1 class="display-4 mb-4">Ratings</h1>
			<form
				id="form"
				method="post"
				action="{% url 'rotten_potatoes:ratings' %}"
				enctype="multipart/form-data"
				class="my-3">
					{% csrf_token %}
					{{ form }}

					<button class="btn btn-info ms-4" type="submit">Add</button>
			</form>

		{% if movie_list %}
		<ul class="list-group list-group-flush ps-0 my-5">
			{% for m in movie_list %}
			<a class="list-group-item" href="{% url 'rotten_potatoes:movie' m.slug %}">{{ m.name }}</a>
			{% endfor %}
		</ul>
		{% endif %}
	</div>

{% endblock %}
