{% extends 'rotten_potatoes/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
<div class="container my-5">
	<h1 class="text-center display-5 mb-4">Register</h1>
	{% if registered %}
		<h3>Thanks for registering</h3>
		<a href="{% url 'rotten_potatoes:index' %}">Return to home</a>
	{% else %}
	<div class="d-flex justify-content-center">
		<form
			id="user_form"
			method="post"
			action="{% url 'rotten_potatoes:register' %}"
			enctype="multipart/form-data"
			style="width: fit-content;">
				{% csrf_token %}
				<p class="row"><label class="col-3" for="{{ user_form.username.id_for_label }}">Username: </label>
						<span class="col-9">{{ user_form.username }}</span>
				</p>
				<p class="row"><label class="col-3" for="{{ user_form.password.id_for_label }}">Password: </label>
				<span class="col-9">{{ user_form.password }}</span></p>
				<p><label for="{{ profile_form.profile_pic.id_for_label }}">Profile picture: </label>
				{{ profile_form.profile_pic }}</p>
				<p class="d-flex"><label class="me-2" for="{{ profile_form.description.id_for_label }}">Description: </label>
				{{ profile_form.description }}</p>
				<p><label for="{{ profile_form.producer.id_for_label }}">Producer: </label>
				{{ profile_form.producer }}</p>
				<button type="submit">Register</button>
		</form>
	</div>
	{% endif %}
</div>
{% endblock %}
