{% extends 'rotten_potatoes/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Register
{% endblock %}

{% block body_block %}
<div class="container my-5">
	<h1 class="text-center mb-4">Register</h1>
	{% if registered %}
		<h3>Thanks for registering</h3>
		<a href="{% url 'rotten_potatoes:index' %}">Return to home</a>
	{% else %}
	<div class="d-flex justify-content-center">
		<form
			id="user_form"
			method="post"
			action="{% url 'rotten_potatoes:register' %}"
			enctype="multipart/form-data"
			style="width: fit-content;">
				{% csrf_token %}
				{{ user_form.as_p }}
				{{ profile_form.as_p }}
				<button type="submit">Register</button>
		</form>
	</div>
	{% endif %}
</div>
{% endblock %}
